{% extends 'RecipeAndProduct/base_R&P.html'%}

{%block title%}
    <title>Профиль</title>
{% endblock %}

{%block body%}
    <h1>Данные:</h1>
     {% if user.is_authenticated %}
        {% if  user.profile.avatar %}
            <img src="{{user.profile.avatar.url}}" alt="{{user.username}}">
        {%endif%}
        <p>UserName: {{user.username}}</p>
        <p>first_name: {{user.first_name}}</p>
        <p>first_name: {{user.last_name}}</p>
        <p>email: {{user.email}}</p>
        <p>Bio: {{user.profile.bio}}</p>

        <a href="{%url 'accounts:about_me_update'%}">Обновить профиль</a>
    {%endif%}
{% endblock %}