<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title%}

    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{%url 'RecipeAndProduct:recipt-list'%}">Главная</a>
            </li>
            <li>
                <a href="">Мои рецепты</a>
            </li>
            <li>
                <a href="{% url 'accounts:about_me'%}">Профиль</a>
            </li>
            {%if user.is_authenticated %}
             <form method="post" action="{% url 'accounts:Logout_app' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
             </form>
            {% else %}
            <div>
                 <a href="{% url 'accounts:login_app' %}">Авторизация</a>
                <a href="{% url 'accounts:register' %}">Регистрация</a>
            </div>

            {%endif %}
        </ul>
    </nav>

    {% block body %}

    {% endblock %}

</body>
</html>