{% extends 'RecipeAndProduct/base_R&P.html'%}

{% block title%}
    <title>Создание рецепта</title>
{% endblock%}

{% block body %}


       <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Вы уверены, что хотите удалить рецепт?</h2>
                <p class="card-text">Это действие нельзя отменить. Все данные рецепта будут удалены.</p>


                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-danger">Удалить!</button>
                </form>


                <div class="mt-3">
                    <a href="{% url 'RecipeAndProduct:recipt-ditails' pk=object.pk %}" class="btn btn-secondary">
                        Вернуться к рецепту
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}