{% extends 'RecipeAndProduct/base_R&P.html'%}

{% block title%}
    <title>Создание рецепта</title>
{% endblock%}

{% block body %}
    <form  method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Обновить</button>
    </form>

    <div class="row mt-4">
            <div class="col-12 text-center">  <!-- Centered button -->
                <a href="{% url 'RecipeAndProduct:recipt-ditails' pk=object.pk %}" class="btn btn-primary">Вернуться к рецепту</a>
            </div>
        </div>


{% endblock%}