{%extends 'RecipeAndProduct/base_R&P.html'%}


{% block title%}
    <title>
        Список рецептов
    </title>
{% endblock %}


{% block body %}
    <section>
        {% if listrecipte %}
        
            {% for recept in listrecipte %}
                <div>
                    {% if recept.image_dish %}
                        <img src="{{ recept.image_dish.url }}" alt="{{recept.name}}">
                    {% endif%}
                    <div>
                        <h1>{{recept.name}}</h1>
                        <p>Время приготовления: {{recept.cooking_time}} минут</p>
                         <h3>Категории:</h3>
                        {%for cat in recept.catigory_recipe.all%}

                            <p>{{ cat.name }}</p>
                        {%endfor%}
                        <p>Создатель: {{recept.user}} </p>
                    </div>

                    <a href="{% url 'RecipeAndProduct:recipt-ditails' pk=recept.pk%}">Подробнее</a>
                    
                </div>

            {% endfor %}
             <div>
                  <a href="{% url 'RecipeAndProduct:recipt-add'%}">Добавить новый рецепт</a>
             </div>
        
        {%else%}
        
            <h2>Рецепты ещё не добавлены</h2>
            <div>
              <a href="{% url 'RecipeAndProduct:recipt-add'%}">Добавить новый рецепт</a>
            </div>
        {%endif%}
    </section>
    

{% endblock %}