{% extends 'RecipeAndProduct/base_R&P.html'%}

{% block title%}
    <title>Подробный рецепт</title>
{% endblock%}

{% block body %}
    {% if recept %}
         <div class="container mt-5">
        <div class="card">
            {% if recept.image_dish %}
                <img src="{{ recept.image_dish.url }}" class="card-img-top" alt="{{ recept.name }}">
            {% endif %}
            <div class="card-body">
                <h1 class="card-title">Рецепт: {{ recept.name }}</h1>
                <h2 class="card-subtitle mb-2 text-muted">Описание: {{ recept.discription }}</h2>
                <p class="card-text">Время приготовления: {{ recept.cooking_time }}</p>
                <div class="mb-3">
                    <h3>Необходимые продукты</h3>
                    <ul class="list-group">
                        {% for prod in recept.products.all %}
                            <li class="list-group-item">{{ prod.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h2 class="mb-3">Способ приготовления</h2>
                <p class="card-text">{{ recept.cooking_steps }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'RecipeAndProduct:recipt-update' pk=recept.pk %}" class="btn btn-primary">Изменить рецепт</a>
                <a href="{% url 'RecipeAndProduct:recipt-delete' pk=recept.pk %}" class="btn btn-danger">Удалить рецепт</a>
            </div>
        </div>
    </div>


    {%endif%}
{% endblock%}